@charset "UTF-8";
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

/* 상단바 */
.menu {
    width: calc(100% - 600px);
    margin-left: 270px;
    margin-right: 50px;
    position: relative;
    z-index: 1;
}

.menu * {
    display: inline;
}

.menu li {
    margin: 10px;
}

.menu li a {
    color: rgb(24, 10, 10);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.headerfitImg {
    width: 250px;
    height: auto;
    float: left;
}

.headerImg {
    width: 213px;
    height: auto;
    float: right;
    margin-left: 30px;
}


/*각 페이지 내부 입력 공간*/
.shape {
    position: absolute;
    top: 15%;
    left: 13%;
    right: 13%;
    bottom: 0;
    background-color: #f8f9fb;
    padding: 10px;
}


/*page1*/
.home {
    background: #f8f9fb;
    background: #f8f9fb;
    position: relative;
}

.home1Img img {
    width: 46%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2; 
}

.home2Img img {
    width: 60%;
    height: auto;
    max-width: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}

.hometest {
    position: absolute;
    top: 35%;
    left: 50px;
    max-width: 100%;
    color: #333333;
    font-size: 20px;
}



/*page2*/
.panel1 {
    background: #f8f9fb;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 70%;
    margin-top: 10%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*page3*/
.panel2 {
    background: #f8f9fb;
    background: #f8f9fb;
    position: relative;
}
.panel21Img img {
    width: 46%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2; 
}
.panel22Img img {
    width: 45%;
    height: auto;
    max-width: 100%;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.panel2test {
    position: absolute;
    top: 32%;
    left: 30px;
    max-width: 100%;
    color: #333333;
}


/*page4*/
.panel3 {
    background: #f8f9fb;
    background: #f8f9fb;
    position: relative;
}
.panel31Img img {
    width: 35%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2; 
}

.panel32Img img {
    width: 100%;
    height: 70%;
    max-width: 100%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    
}
.panel3test {
    position: absolute;
    top: 29%;
    left: 30px;
    max-width: 100%;
    color: #333333;
}


/*page5*/
.panel4 {
    background: #f8f9fb;
    background: #f8f9fb;
    position: relative;
}
.panel41Img img {
    width: 26%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 2; 
}
.panel4test {
    position: absolute;
    bottom: 20%; 
    left: 20px;
    max-width: 100%;
    color: #333333;
}


/*페이지 네이게이션*/
.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}


@media (max-width:1000px) {
    .pagination {
        top: auto;
        right: auto;
        left: 50%;
        bottom: 0;
        transform: translateY(0) translateX(-50%);
    }

    .pagination>li {
        float: left;
    }
}

.pagination a {
    display: block;
    color: black;
    position: relative;
    padding: 20px;
}

.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-right: 15px;
    white-space: nowrap;
}

.pagination a:hover .hover-text {
    opacity: 1;
}

.pagination a:after {
    content: "";
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}