<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.PtTimeMapper">


	<select id="PT"
		parameterType="com.test.model.PersonalTrainingVO"
		resultType="com.test.model.PersonalTrainingVO">
		SELECT *
		FROM tb_personal_training
		WHERE trn_idx = #{trn_idx}
		AND pt_date BETWEEN NOW()
		AND DATE_ADD(NOW(), INTERVAL 7 DAY);



	</select>


</mapper>