<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.VoucherMapper">


	<select id="voucher" parameterType="com.test.model.VoucherVO"
		resultType="com.test.model.VoucherVO">
		SELECT tb_voucher.*
		FROM tb_trainer
		INNER JOIN tb_voucher ON tb_trainer.center_idx =
		tb_voucher.center_idx
		WHERE tb_trainer.trn_name = #{trn_name}
	</select>
	
</mapper>